<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>courseworks.SigninServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/courseworks/signin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnncmntServlet</servlet-name>
        <servlet-class>courseworks.profcourses.AnncmntServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnncmntServlet</servlet-name>
        <url-pattern>/courseworks/profcourses/anncmnt/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>courseworks.profcourses.CalendarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/courseworks/profcourses/calendar/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>courseworks.profcourses.EventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/courseworks/profcourses/event/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentCourseMgmt</servlet-name>
        <servlet-class>courseworks.coursemgmt.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentCourseMgmt</servlet-name>
        <url-pattern>/courseworks/coursemgmt/student/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfCourseMgmt</servlet-name>
        <servlet-class>courseworks.coursemgmt.ProfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfCourseMgmt</servlet-name>
        <url-pattern>/courseworks/coursemgmt/professor/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>courseworks.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/courseworks/user/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CoursePageServlet</servlet-name>
        <servlet-class>courseworks.CoursePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursePageServlet</servlet-name>
        <url-pattern>/courseworks/coursepage/*</url-pattern>
    </servlet-mapping>

</web-app>
